:root{
    --primary: #00a8ce;
    --secondary: #edc7b7;
}

body{
    font-family: mukta, serif ;
}

a:hover{
    color: var(--secondary);
    transition: 0.25s;
    cursor: pointer;
}

/*
Font
*/
@font-face {
    font-family: mukta;
    src: url("plugin/font/Mukta-Regular.ttf");
}

/***
****** General ******
***/
.one-page{
    height: 100vh;
}

.font-colorful{
    color: var(--secondary);
}




/***
****** Specific ******
***/
/* Left sidebar */
#left-sidebar{
    background-color: white;
    color: var(--primary);
    position: relative;
    padding: 0;
}

.brand{
    padding-top: 50px;
}

.brand-logo{
    width: 70%;
    margin-bottom: 15px;
}

.brand-title{
    font-weight: bold;
    font-size: 25px;
}

.user{
    padding-top: 100px;
}

.user-info{
    font-weight: bold;
    margin-bottom: 10px;
}

.user-role{
    color: var(--secondary);
}

.user-icon{
    width: 30%;
    /*border: solid 5px var(--primary);*/
    border-radius: 40%;
    margin-bottom: 10px;
}

.conversation-opts{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 50px;
}

.conversation-opts-link{
    font-size: 30px;
    color: var(--primary);
}


/*.lef-navbar{*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

/*.navbar-nav{*/
/*    border-top: solid 2px var(--primary);*/
/*    width: 100%;*/
/*    !*border-bottom: solid 2px var(--primary);*!*/
/*}*/

/*.my-nav-item{*/
/*    width: 100%;*/
/*    !*border-top: solid 2px var(--primary);*!*/
/*    height: 60px;*/
/*    padding: 12px;*/
/*    font-weight: bold;*/
/*}*/

#chat_container{
    background: var(--primary);
    background: linear-gradient(90deg, rgba(0,168,206,1) 0%, rgba(1,199,244,1) 100%);
}
